<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Login</title>
</head>
<body>

    <div class="d-flex justify-content-center m-5 p-5">
        <form action="" method="post" class="border border-primary p-5">
    
            {% csrf_token %}
        
            <input type="text" class="form-control" name="username" placeholder="username"> <br>
            <input type="password" class="form-control" name="password" placeholder="*********"> <br>
            Don't have an account? <a href="../register">Register now</a>


            <div class="row">
                <div class="col">
                    <input type="submit" class="form-control btn btn-primary my-2" value="Login">
                </div>
                <div class="col">
                    <a href="../../" class="form-control btn btn-outline-primary my-2">Home</a>
                </div>
            </div>

            
        </form>
    </div>

</body>
</html>

